<%= form_with(model: timesheet, local: true) do |form| %>
  <% if timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
        <% timesheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :timesheet_date %>
    <%= form.date_select :timesheet_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
