<!DOCTYPE html>
<html>
    <head>
        <title>Timesheet App</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/68cb87669c.js"></script>
    </head>
    <body class="login-page">
        <%= yield %>
    </body>
</html>